
/* # Empty CSS file for your own CSS */

        /* --------------------------------------------------------------------------------------- */
        /* scroll bar */
        ::-webkit-scrollbar {
            width: 10px
        }

        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px
        }

        ::-webkit-scrollbar-thumb {
            background: #0275d8;
            border-radius: 10px
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #0275d8
        }

        /* scroll bar END*/

        /*navbar */
        :root {
            --rt-min-width-100: 100px;
            --rt-min-width-150: 150px;
            --rt-min-width-200: 200px;
            --rt-min-width-dynamic: 0px;
            --rt-width-40: 40% !important;
            --rt-filter-black: drop-shadow(2px 4px 6px black);
            --rt-filter-blue-1: drop-shadow(2px 4px 6px blue);
            --rt-filter-blue-2: drop-shadow(2px 4px 16px blue);
            --rt-filter-grey-1: drop-shadow(0px 0px 2px grey);
            --rt-color-blue:  #0167cc;
            --rt-box-grey-1: inset 0 0 5px grey;
        }

        .min-w-120 {
            min-width: var(--rt-min-width-150);
        }

        .w-40 {
            width: var(--rt-width-40);
        }

        .filter-1 {
            filter: var(--rt-filter-grey-1);
        }

        .light-transparent-grey {
            background: white;
        }

        .nav-link>span {
            color: #0275d8;
            font-size: calc(0.7rem + 1.2vh);
            /* filter: var(--rt-filter-grey-1); */
            font-weight: 600;
        }

        .nav-link:hover {
            transform: scale(1.2);
            -webkit-transition: .30s ease-in-out 3s;
            transition: .30s ease-in-out 0s;
        }

        .nav-link>span:hover {
            border-bottom: 2px solid;
        }

        /** h7 tag*/
        h7 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        h7 {
            font-size: 2em;
            margin: .67em 0;
        }

        h7,
        h8 {
            margin-top: 0;
            margin-bottom: .5rem;
        }

        .h7,
        .h8,
        h7,
        h8 {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
        }

        .h7,
        h7 {
            font-size: 3.5rem;
        }

        .white {
            color: white;

        }

        .blue-1 {
            color: #0167cc;
        }

        .white-border {
            border: solid 2px white;
        }

        .bg-black {
            background-color: black;
        }

        .border-0 {
            border: 0px;
        }

        .translateY-40-bar {
            transform: translateY(-40%);
        }

        .translateY-100-bar {
            transform: translateY(-100%);
        }

        .translateY-200-bar {
            transform: translateY(-200%);
        }

        .translateY-500-bar {
            transform: translateY(-500%);
        }

        .translateY-1000-bar {
            transform: translateY(-1000%);
        }
        

        .translateY-70-bar {
            transform: translateY(-70%);
        }

        .translateY-100 {
            transform: translateY(100%);
        }

        .translateY-20 {
            transform: translateY(20%);
        }

        .border-radius-40 {
            border-radius: 40px;
        }

        .border-double-2-white {
            border: double 2px white;
        }

        .contact-button-1:hover {
            background-color: white;
            color: darkblue;
            border: solid 2px darkblue;
            filter: var(--rt-filter-black);
        }

        .form-all-inputs-contact>.form-group>input {
            background: transparent;
            border: none;
            border-bottom: 1px solid;
            border-radius: 0;
        }

        .form-all-inputs-contact {
            padding: 4%;
        }

        .form-contact {
          /* background-image: linear-gradient(45deg, #009cff, #1f94de1f); */
          background-color: white;
            color: #1f94de;
            -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
            box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        }
        .form-contact > .form-all-inputs-contact > .form-group > input {
          color: black;
          border-bottom: solid 1px #1f94de;
        }
        .submit-button-bg-con, {
        
          background: #1f94de;
        }
          .footer-main {
            background: #080000;
        }


        .navbar {
          -webkit-box-shadow: 0 1px 10px -6px rgba(0,0,0,.42), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px -2px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px -6px rgba(0,0,0,.42), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px -2px rgba(0,0,0,.1);
        }
        /* --------------------------------------------------------------------------------------- */



.navbar-toggler-icon
{
    border: double 5px #1f94de;
}

.card-footer {
    cursor: pointer;
}
#modal-513404>button {
    background-color: transparent;
    color: #1f94de;
    
    border: none;
}
.card-footer>*>button {
    cursor: pointer;
    background-color: transparent;
}
a:hover,a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:hover {
  transform: scale(1.09);
  -webkit-transition: .30s ease-in-out 3s;
  transition: .30s ease-in-out 0s;

}

.footer-main > .container-fluid > .row > .col-md-12 > .row > .col-md-12 > h3 {
    font-size: calc(1rem + 1vw);
}

.footer-main > .container-fluid > .row > .col-md-12 > .row > .col-md-4 > h3 {
    font-size: calc(1rem + 1vw);
}

.footer-main > .container-fluid > .row > .col-md-12 > .row > .col-md-4 > p {
    font-size: calc(0.6rem + 0.7vw);
}
.footer-main > .container-fluid > .row > .col-md-12 > .row > .col-md-4 > address {
    font-size: calc(0.6rem + 0.7vw);
}

.home-slider-image {
    max-width: 680px;
}

.home-awards-slider {
    max-width: 1400px;
}


/* sliders */

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  
@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-500%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes speedbreak {
    0% {
      transform: translateX(-500%);
    }

    70% {
      transform: translateX(10%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromBottom {
      0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  .slide-from-left {
    transition-delay: 2s;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  .slide-from-right {
    transition-delay: 2s;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  .slide-from-right-1 {
    transition-delay: 2s;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  .slide-from-left-1 {
    transition-delay: 2s;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  .slide-from-bottom {
    transition-delay: 6s;
    animation: 3s ease-out 0s 1 slideInFromBottom;
  }

  .slide-from-bottom-2 {
    transition-delay: 1s;
    animation: 2s ease-out 0s 1 slideInFromBottom;
  }

  .slide-from-bottom-3 {
    transition-delay: 3s;
    animation: 2.1s ease-out 0s 1 slideInFromBottom;
  }

  .slide-from-bottom-4 {
    transition-delay: 4s;
    animation: 2.2s ease-out 0s 1 slideInFromBottom;
  }

  .slide-from-bottom-5 {
    transition-delay: 5s;
    animation: 2.3s ease-out 0s 1 slideInFromBottom;
  }


  .slide-from-top {
    animation: 2s ease-out 0s 1 slideInFromTop;
  }
/* /sliders/ */

p {
  font-size: calc(0.75rem + 1vh);
}

.blockquoted {
  border-left: .25rem solid #0f6dca;
}

.box-shadow-panel {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  filter: opacity(0.79);
}

#search-button:hover {
  filter: drop-shadow(2px 4px 6px black);
  transform: scale(1.5);
  transition: .25s ease-in-out 0s;
}

.navbar-brand  {
  max-width: 10%;
}
